body{
    font-family: 'Rubik', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
h2{
    font-weight: 800;
    font-size: 35px;
}
.orange{
    color: orange;
}
.order{
    background-image: linear-gradient(rgb(216, 75, 40), rgb(241, 90, 30));
    padding: 13px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.f-img{
    width: 80%;
}
.f-sec{
    display: flex;
    margin-bottom: 120px;
}
.f-sec-div{
    width: 50%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

.s-sec{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: 100%;
    background-repeat: none;
    background-position: left;
    margin-bottom: 150px;
}
.s-img{
    width: 60%;
    margin-left: 10%;
}
.s-sec-div{
    width: 50%;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
#s-one-div{
    padding-top: 15%;
}
#recipie-div{
    text-align: center;
}
.third-sec{
    display: flex;
    margin-right: 2%;
    margin-left: 3%;
}
.t-sec-div{
    width: 28%;
    padding: 1%;
    box-shadow: 10px 10px 20px rgb(240, 234, 234);
    border-radius: 25px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 120px;
}
.t-img{
    width: 98%;
    height: 65%;
    border-radius: 15px;
}
.four-sec{
    display: flex;
    box-shadow: 5px 5px 15px rgb(185, 180, 180);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}
.four-sec-div{
    padding-left: 18%;
}
.five-sec{
    background-color: black;
    text-align: center;
    padding: 40px;
    color: white;
}